.course {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 30px;
    }

    &__summary {
        font-size: 18px;
    }

    &__author {
        margin-left: auto;
        font-weight: 600;
    }
}

