.course {

    &:hover {

        .image {
            transform: scale(1.1);
        }
    }
}

.image {
    min-height: 200px;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms;

    &_wrap {
        overflow: hidden;
    }
}
