@font-face {
    font-family:PlayfairDisplaySC;
    src: url("/fonts/PlayfairDisplaySC-Black-900.ttf");
}
.pagination{
    width: 50%;
    margin: auto auto 30px;
    justify-self: flex-end;
    display: block;
    & ul{
        justify-content: center;
        margin: 10px 0;
    }
}
.title{
    font-family: PlayfairDisplaySC;
    font-size: 48px;
    line-height: 64px;
    color: #050505;
    letter-spacing: 0.05em;
}
