.catalog {

}

.wrap {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
