.catalog {

}

.wrap {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
}

.list {
    display: flex;
}

.pagination{
    width: 50%;
    margin: auto auto 30px;
    justify-self: flex-end;
    display: block;
    & ul{
        justify-content: center;
        margin: 10px 0;
    }
}

.loader {
    width: 100px;
    height: 100px;

    &_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
