* {
    box-sizing: border-box;
}

body, p, span, a {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display SC', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
