.headerLinks {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    position: relative;
    $root: &;

    &_icon {
        max-width: 120px;
        width: 100%;
        max-height: 40px;
        color: #f84646;
        transition: color 300ms;
    }

    &_text {
        position: absolute;
        top: 10px;
        left: 12px;
        font-weight: 700;
        font-size: 20px;
        text-shadow: 0 0 2px #000;
    }

    &:hover {
        #{$root} {
            &_icon {
                color: #be001e;
            }
        }
    }
}

.counterBlock {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4%;
    right: 22%;
    font-size: 8px;
    line-height: 12px;
    font-family: arial;
    font-weight: 100;
    color: #3f50b5;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #3f50b5;

}

.heart {
    font-size: 20px;
}
