.headerLinks {
    display: block;
    height: 100%;
    color: black;
    text-decoration: none;
}

.logo {
    max-width: 150px;
    max-height: 40px;
    width: 100%;
    color: #F17439;
    transition: color 300ms;

    &:hover {
        color: #b84508;
    }
}

.counterBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 10px;
    line-height: 12px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: #3f50b5;
    background-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

@media (max-width: 825px) {
    .block{
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap;
        margin: 0 auto !important;
    }
    .logoWrp{
        margin-right: 0 !important;
    }
}
