.headerLinks {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
}

.logo {
    max-width: 150px;
    max-height: 40px;
    width: 100%;
    color: #f84646;
    transition: color 300ms;

    &:hover {
        color: #be001e;
    }
}

.counterBlock {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 4%;
    right: 22%;
    font-size: 8px;
    line-height: 12px;
    font-family: arial;
    font-weight: 100;
    color: #3f50b5;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #3f50b5;

}

.heart {
    font-size: 20px;
}
