.section {

}

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, min-content));
    grid-gap: 24px;
}
