.wrap {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination{
    width: 50%;
    margin: auto auto 30px;
    justify-self: flex-end;
    display: block;
    & ul{
        justify-content: center;
        margin: 10px 0;
    }
}
