.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 20px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
